/* style.css file */
html,
body {
    margin: 20px;
}
/*General label styling*/
.custom {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    margin: 8px 0;
}

/*Hide native input*/
.custom input {
    display: none;
}

/*Custom checkbox style*/
.checkmark {
    width: 18px;
    height: 18px;
    border-radius: 4px;
    margin-right: 8px;
    position: relative;
    transition: all 0.3s ease;
}