/* style.css file */
html,
body {
    margin: 20px;
}
/*General label styling*/
.custom {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    margin: 8px 0;
}

/*Hide native input*/
.custom input {
    display: none;
}

/*Custom checkbox style*/
.checkmark {
    width: 18px;
    height: 18px;
    border-radius: 4px;
    margin-right: 8px;
    position: relative;
    transition: all 0.3s ease;
}

/*Custom check symbol*/
.checkmark::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px o;
    transform: rotate(45deg);
    opacity: 0;
}

/*Checked state for checkbox*/
.custom input[type="checkbox"]:checked + .checkmark {
    background-color: #2196f3;
    border-color: #2196f3;
}
.custom input[type="checkbox"]:checked + .checkmark::after {
    opacity: 1;
}

/*Custom radio style*/
.radiomark {
    width: 18px;
    height: 18px;
    border: 2px solid #555;
    border-radius: 8px;
    margin-right: 8px;
    position: relative;
    transition: transform 0.3s ease;
}